.container {
 background-image: url('https://st3.depositphotos.com/19975938/36059/v/600/depositphotos_360592866-stock-illustration-gray-background-abstract-gradient-illustration.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%; 
  width: 100%;
  margin-right: 10rem;
  
}

.form {
  background-color:#d5d1d1;
  border-radius: 12px;
  border: 1px solid #b2b1b1;
  width: 100%;
  max-width: 600px; 
  padding: 2rem; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 2rem; 
  margin-top: 2rem; 
  margin-left: 26rem;
transition: transform 0.2s ease-in-out;

&:hover {
  transform: scale(1.03);
}
}

.background_bg {
  background-image: url('https://st4.depositphotos.com/10259232/39420/i/600/depositphotos_394203078-stock-photo-abstract-gray-gradient-wall-background.jpg');
  background-size: cover;
  padding: 3rem 0;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;


}

button {
  margin-top: 1.5rem;
}

input,
textarea,
select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1{
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #1d2f82;
}
