.acheter-container {
  display:inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  
  width: 100%;
  background: linear-gradient(to bottom right, #85C1E9, #D6EAF8); // Dégradé bleu pour un effet "mer"
  background-size: cover;

}

.acheter-form {
  align-items: center;
  justify-content:center;
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); // Effet d'ombre plus prononcé
  margin-bottom: 2rem;
}

.acheter-title {
  color: #2874A6; // Bleu plus profond pour rappeler l'océan
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 1.5rem;
}

.acheter-input {
  margin-bottom: 1.5rem;
  .MuiInputBase-root {
    background-color: #F4F6F7; // Fond gris clair pour les champs
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #2980B9; // Bordure bleue lors du focus
  }
}

.acheter-button {
  background-color: #2980B9; // Bleu profond pour le bouton
  color: white;
  font-weight: bold;
  &:hover {
    background-color: #1F618D; // Bleu plus sombre au hover
  }
}
