.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%; 
  width: 100%;
  margin-right: 10rem;
  
}

.form {
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 600px; 
  padding: 2rem; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 2rem; 
  margin-top: 2rem; 
  margin-left: 26rem;

}

.background_bg {
  background-image: url('https://img.freepik.com/photos-gratuite/fond-texture-abstrait_1258-30504.jpg?t=st=1728417349~exp=1728420949~hmac=6fd38697906a38a18c51f32477c10d5aaa2189016cde4fd015a3a2ed6e5869f7&w=740');
  padding: 3rem 0;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;


}

button {
  margin-top: 1.5rem;
}

input,
textarea,
select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1{

  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #acaaaa;
}
