.container {
  font-family:'Times New Roman', Times, serif;
}

.faq-title {
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;  
  text-align: center;
  margin-top: -5rem ;
  margin-bottom: 2rem;
  
}

.faq-subtitle {
  font-family: "Times New Roman", Times, serif;  
  text-align: center;
  margin-bottom: 20px;
}

.MuiAccordion-root {  
  background-image: url('https://st4.depositphotos.com/10259232/39420/i/600/depositphotos_394203078-stock-photo-abstract-gray-gradient-wall-background.jpg');
  background-size: cover; 
  justify-content: center;
  width: 100vh;
  height: auto;
  padding-left:-20rem;
  padding-right:-20rem;


}

.MuiAccordionSummary-root {
  font-family: "Times New Roman", Times, serif;  
  font-size: 3rem;
  justify-content: center;


  &:hover {
    background-image: url('https://st4.depositphotos.com/10259232/39420/i/600/depositphotos_394203078-stock-photo-abstract-gray-gradient-wall-background.jpg');
    background-size: cover;
  }

  
}


