.search-form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-option {
  padding: 10px 20px;
  background-image: url('https://st.depositphotos.com/2369859/3205/i/450/depositphotos_32055461-stock-photo-abstract-blue-background.jpg');
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s ease;
  transition: background-color 0.5s ease;

&:hover {
  background: rgb(104, 103, 103);
}
}

.search-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-image: url('https://st.depositphotos.com/2369859/3205/i/450/depositphotos_32055461-stock-photo-abstract-blue-background.jpg');
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;

&:hover {
  background: rgb(104, 103, 103);
}
}