.contacts-page {
  padding: 20px;
  background-color: #f7f7f7;

  .contacts-title {
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 2rem;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f7f7f7;
  }

  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contact-item {
    background: #266de7;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(30% - 20px);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 15px;
    }

    h2 {
      margin: 5px 0;
      font-size: 1.5rem;
      color: #ffffff;
    }

    p {
      text-align: left;
      margin: 10px 0 0;
      font-size: 1rem;
      color: #ffffff;

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
