.biens-container {
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: #f9f9f9; 
    font-family: 'Arial', sans-serif;
    background-image: url('https://st4.depositphotos.com/10259232/39420/i/600/depositphotos_394203078-stock-photo-abstract-gray-gradient-wall-background.jpg');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  
  .biens-title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #ffffff;
  }
  
  .biens-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .bien-card {
    text-align: left;
   background-color:#d5d1d1;

    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100vh; 
    display: flex;
    flex-direction: column;
    margin-left: 20rem;

    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
  }
  
  .bien-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .bien-card p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .map-container {
    margin-top: 4rem;
    text-align: center;
  }
  
  .map-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #34495e;
  }
  
  .biens-map {
    height: 500px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
