.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chatbot-logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.chatbot {
  width: 350px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatbot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-image: url('https://st.depositphotos.com/2369859/3205/i/450/depositphotos_32055461-stock-photo-abstract-blue-background.jpg');
  color: #fff;
}

.chatbot-messages {
  padding: 10px;
  background-color: #f9f9f9;
  overflow-y: auto;
  flex-grow: 1;
}

.chatbot-message {
  margin-bottom: 10px;
}

.user-message {
  background-image: url('https://st.depositphotos.com/2369859/3205/i/450/depositphotos_32055461-stock-photo-abstract-blue-background.jpg');
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
  text-align: left;
  width: fit-content;
  align-self: flex-end;
}

.bot-message {
  background-color: #e0e0e0;
  color: #333;
  padding: 8px 10px;
  border-radius: 10px;
  text-align: left;
  width: fit-content;
  align-self: flex-start;
}

.chatbot-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
}

.chatbot-input-container input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin-right: 8px;
  outline: none;
}

.chatbot-input-container input::placeholder {
  color: #aaa;
}

.chatbot-input-container button {
  background-image: url('https://st.depositphotos.com/2369859/3205/i/450/depositphotos_32055461-stock-photo-abstract-blue-background.jpg');
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color:  #007bff;
  }
}

@media (max-width: 480px) {
  .chatbot {
    width: 300px;
  }
}
