

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;

}

.form {
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 600px; // Limite la largeur du formulaire pour de meilleures proportions
  padding: 2rem; // Augmente l'espace interne pour un design plus aéré
  margin-bottom: 2rem; // Ajoute un espace en bas pour séparer du footer si nécessaire
}
