.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%; // Remplace height: 100% pour s'assurer que la page prend toute la hauteur de l'écran
  width: 100%;
  padding: 2rem; // Ajoute un padding global pour donner de l'espace autour
}

.form {
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 600px; // Limite la largeur du formulaire pour de meilleures proportions
  padding: 2rem; // Augmente l'espace interne pour un design plus aéré
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Ajoute une ombre subtile pour un effet de profondeur
  margin-bottom: 2rem; // Ajoute un espace en bas pour séparer du footer si nécessaire
}
