.menu-bar {
  background-image: url('https://img.freepik.com/photos-gratuite/fond-texture-abstrait_1258-30576.jpg?t=st=1728418659~exp=1728422259~hmac=78402e782eb1f2461ae2fa800256ac7c8f8ad8d9fa5c3618e2a93c8ecc1361a3&w=740');
  justify-content: space-around;
  padding-top: 0.9rem;
  padding-bottom: 0.7rem;
}

.menu-link {
  justify-content: space-between;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 1rem;
  font-family: "Times New Roman", Times, serif;  
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  transition:
    transform 0.3s ease,
    color 0.3s ease;

}
