.ConnexionForm {
    width: 100%;
    background-image: url('https://st.depositphotos.com/2369859/3205/i/450/depositphotos_32055461-stock-photo-abstract-blue-background.jpg');
    background-size: cover;
  }
  