@font-face {
  font-family: 'Condensed Perfect';
  src: url('/path-to-your-font/CondensedPerfect-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 201vh;
  height: 28vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative; /* Assure que les enfants sont positionnés par rapport au header */

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('https://st.depositphotos.com/2369859/3205/i/450/depositphotos_32055461-stock-photo-abstract-blue-background.jpg');
  background-size: cover;

  .chatbot-logo {
    position: sticky;
    top: 2rem;
    left: 2rem;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
  


    img {
      width: 100%;
      height: auto;
    }
  }



  &_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
    margin-right: 1rem;
    gap: 1rem;

    button {
      font-family: 'Times New Roman';
      font-size: 0.7rem;
      color: #ffffff;
      animation: opacity 1s ease;
      transition: transform 0.3s ease;

   
    }
  }
  .menu-bar {
    justify-content: space-around;
    margin-top: 10rem;
  
  }
  
  .menu-link {
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-decoration: none;
    left: 3rem;
    margin: 0 1rem;
    font-family: "Times New Roman", Times, serif;  
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease; /* Pour adoucir le changement de couleur au survol */
  
    &:hover {
      color: #ffffff; /* Assurez-vous que la couleur du texte reste blanche au survol */
    }
  
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px; /* Ajustez la distance par rapport au texte */
      width: 0;
      height: 3px; /* Épaisseur du trait */
      background-color: white; /* Couleur du trait */
      transition: width 0.4s ease; /* Animation du trait */
    }
  
    &:hover::after {
      width: 100%; /* Le trait s'étend jusqu'à la largeur complète */
    }
  }
  

  .header_title {
    margin-top: 1.5rem;
    position:absolute;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Times New Roman", Times, serif;  
    font-size: 5rem;
    color:#ffffff;
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 100%;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
