.footer {
  background-color:  #266de7;
  color: linear-gradient(45deg, #ffd700, #ff8c00, #ff4500);
  position: absolute;

  transform: translateX(-50%);
  font-family: 'Condensed Perfect', sans-serif;
  font-size: 7rem;
  text-align: center;
}
