.footer {
  background-color:  #266de7;
  color:  #ffffff;
  position: absolute;

  transform: translateX(-50%);
  font-family: "Times New Roman", Times, serif;  
  font-size: 7rem;
  text-align: center;
}
