.Footer {
  background-image: url('https://st.depositphotos.com/2369859/3205/i/450/depositphotos_32055461-stock-photo-abstract-blue-background.jpg');
  background-size: cover;  
  color:  #ffffff;
  position: absolute;
  transform: translateX(-50%);
  font-family: "Times New Roman", Times, serif;  
  font-size: 7rem;
  text-align: center;
}
